@keyframes flashing {
	0% {opacity: 1;}
	50% {opacity: 1;}
	99% {opacity: 0;}
	100% {opacity: 1;}
}

@-moz-keyframes flashing {
	0% {opacity: 1;}
	50% {opacity: 1;}
	99% {opacity: 0;}
	100% {opacity: 1;}
}

@-o-keyframes flashing {
	0% {opacity: 1;}
	50% {opacity: 1;}
	99% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes flashing {
	0% {opacity: 1;}
	50% {opacity: 1;}
	99% {opacity: 0;}
	100% {opacity: 1;}
}

.flashing {
	animation-name: flashing;
	animation-duration: 2.0s;
	animation-iteration-count: 5;
		-moz-animation-name: flashing;
		-moz-animation-duration: 2.0s;
		-moz-animation-iteration-count: 5;
		-ms-animation-name: flashing;
		-ms-animation-duration: 2.0s;
		-ms-animation-iteration-count: 5;
		-o-animation-name: flashing;
		-o-animation-duration: 2.0s;
		-o-animation-iteration-count: 5;
		-webkit-animation-name: flashing;
		-webkit-animation-duration: 2.0s;
		-webkit-animation-iteration-count: 5;
}