.black{background-color:#000;}
.navy{background-color:#000080;}
.darkblue{background-color:#00008b;}
.mediumblue{background-color:#0000CD;}
.blue{background-color:#00f;}
.darkgreen{background-color:#006400;}
.green{background-color:#008000;}
.teal{background-color:#008080;}
.darkcyan{background-color:#008b8b;}
.deepskyblue{background-color:#00bfff;}
.darkturquoise{background-color:#00ced1;}
.mediumspringgreen{background-color:#00fa9a;}
.lime{background-color:#0f0;}
.springgreen{background-color:#00ff7f;}
.aqua{background-color:#0ff;}
.cyan{background-color:#0ff;}
.midnightblue{background-color:#191970;}
.dodgerblue{background-color:#1e90ff;}
.lightseagreen{background-color:#20b2aa;}
.forestgreen{background-color:#228b22;}
.seagreen{background-color:#2e8b57;}
.darkslategray{background-color:#2f4f4f;}
.darkslategrey{background-color:#2f4f4f;}
.limegreen{background-color:#32cd32;}
.mediumseagreen{background-color:#3cb371;}
.turquoise{background-color:#40e0d0;}
.royalblue{background-color:#4169e1;}
.steelblue{background-color:#4682b4;}
.darkslateblue{background-color:#483d8b;}
.mediumturquoise{background-color:#48d1cc;}
.indigo{background-color:#4b0082;}
.darkolivegreen{background-color:#556b2f;}
.cadetblue{background-color:#5f9ea0;}
.cornflowerblue{background-color:#6495ed;}
.rebeccapurple{background-color:#639;}
.mediumaquamarine{background-color:#66cdaa;}
.dimgray{background-color:#696969;}
.dimgrey{background-color:#696969;}
.slateblue{background-color:#6a5acd;}
.olivedrab{background-color:#6b8e23;}
.slategray{background-color:#708090;}
.slategrey{background-color:#708090;}
.lightslategray{background-color:#789;}
.lightslategrey{background-color:#789;}
.mediumslateblue{background-color:#7b68ee;}
.lawngreen{background-color:#7cfc00;}
.chartreuse{background-color:#7fff00;}
.aquamarine{background-color:#7fffd4;}
.maroon{background-color:#800000;}
.purple{background-color:#800080;}
.olive{background-color:#808000;}
.gray{background-color:#808080;}
.grey{background-color:#808080;}
.skyblue{background-color:#87ceeb;}
.lightskyblue{background-color:#87cefa;}
.blueviolet{background-color:#8a2be2;}
.darkred{background-color:#8b0000;}
.darkmagenta{background-color:#8b008b;}
.saddlebrown{background-color:#8b4513;}
.darkseagreen{background-color:#8fbc8f;}
.lightgreen{background-color:#90ee90;}
.mediumpurple{background-color:#9370db;}
.darkviolet{background-color:#9400d3;}
.palegreen{background-color:#98fb98;}
.darkorchid{background-color:#9932cc;}
.yellowgreen{background-color:#9acd32;}
.sienna{background-color:#a0522d;}
.brown{background-color:#a52a2a;}
.darkgray{background-color:#a9a9a9;}
.darkgrey{background-color:#a9a9a9;}
.lightblue{background-color:#add8e6;}
.greenyellow{background-color:#adff2f;}
.paleturquoise{background-color:#afeeee;}
.lightsteelblue{background-color:#b0c4de;}
.powderblue{background-color:#b0e0e6;}
.firebrick{background-color:#b22222;}
.darkgoldenrod{background-color:#b8860b;}
.mediumorchid{background-color:#ba55d3;}
.rosybrown{background-color:#bc8f8f;}
.darkkhaki{background-color:#bdb76b;}
.silver{background-color:#c0c0c0;}
.mediumvioletred{background-color:#c71585;}
.indianred{background-color:#cd5c5c;}
.peru{background-color:#cd853f;}
.chocolate{background-color:#d2691e;}
.tan{background-color:#d2b48c;}
.lightgray{background-color:#d3d3d3;}
.lightgrey{background-color:#d3d3d3;}
.thistle{background-color:#d8bfd8;}
.orchid{background-color:#da70d6;}
.goldenrod{background-color:#daa520;}
.palevioletred{background-color:#db7093;}
.crimson{background-color:#dc143c;}
.gainsboro{background-color:#dcdcdc;}
.plum{background-color:#dda0dd;}
.burlywood{background-color:#deb887;}
.lightcyan{background-color:#e0ffff;}
.lavender{background-color:#e6e6fa;}
.darksalmon{background-color:#e9967a;}
.violet{background-color:#ee82ee;}
.palegoldenrod{background-color:#eee8aa;}
.lightcoral{background-color:#f08080;}
.khaki{background-color:#f0e68c;}
.aliceblue{background-color:#f0f8ff;}
.honeydew{background-color:#f0fff0;}
.azure{background-color:#f0ffff;}
.sandybrown{background-color:#f4a460;}
.wheat{background-color:#f5deb3;}
.beige{background-color:#f5f5dc;}
.whitesmoke{background-color:#f5f5f5;}
.mintcream{background-color:#f5fffa;}
.ghostwhite{background-color:#f8f8ff;}
.salmon{background-color:#fa8072;}
.antiquewhite{background-color:#faebd7;}
.linen{background-color:#faf0e6;}
.lightgoldenrodyellow{background-color:#fafad2;}
.oldlace{background-color:#fdf5e6;}
.red{background-color:#f00;}
.fuchsia{background-color:#f0f;}
.magenta{background-color:#f0f;}
.deeppink{background-color:#ff1493;}
.orangered{background-color:#ff4500;}
.tomato{background-color:#ff6347;}
.hotpink{background-color:#ff69b4;}
.coral{background-color:#ff7f50;}
.darkorange{background-color:#ff8c00;}
.lightsalmon{background-color:#ffa07a;}
.orange{background-color:#ffa500;}
.lightpink{background-color:#ffb6c1;}
.pink{background-color:#ffc0cb;}
.gold{background-color:#ffd700;}
.peachpuff{background-color:#ffdab9;}
.navajowhite{background-color:#ffdead;}
.moccasin{background-color:#ffe4b5;}
.bisque{background-color:#ffe4c4;}
.mistyrose{background-color:#ffe4e1;}
.blanchedalmond{background-color:#ffebcd;}
.papayawhip{background-color:#ffefd5;}
.lavenderblush{background-color:#fff0f5;}
.seashell{background-color:#fff5ee;}
.cornsilk{background-color:#fff8dc;}
.lemonchiffon{background-color:#fffacd;}
.floralwhite{background-color:#fffaf0;}
.snow{background-color:#fffafa;}
.yellow{background-color:#ff0;}
.lightyellow{background-color:#ffffe0;}
.ivory{background-color:#fffff0;}